@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: "Helvetica Neue LT Std";
    src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
    font-family: "HelveticaLTStd-Roman";
    src: url("../fonts/HelveticaLTStd-Roman.otf");
}

@font-face {
    font-family: "HelveticaLTStd-Bold";
    src: url("../fonts/HelveticaLTStd-Bold.otf");
}

body{
    background: url('../images/body.png');
    margin: 0;
    font-family: "Helvetica Neue LT Std";
    font-size: 16px;
    color: #eff0f4;
}

a{
    color: #e6e5e3;
}

a:hover{
    color: #c2c2c2;
    text-decoration: none;
}

.wrapper{
    width: 676px;
    margin: 0 auto;
    border: 0px solid;
    color: #FFFFFF;
    padding-top: 5px;
}

.home-wrapper{
    width: 632px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 0px solid;
    color: #FFFFFF;
    padding-top: 5px;
    text-align: center;
}

.wrapper-confirm{
    width: 676px;
    margin: 0 auto;
    border: 0px solid;
    color: #FFFFFF;
}

.label-1-text{
    text-align: right;
    font-family: "Helvetica Neue LT Std";
    line-height: 16px;
}

.label-1-yellow-text{
    text-align: right;
    line-height: 16px;
    color: #004085;
}

.label-2-text{
    text-align: right;    
    font-size: 12px;
    line-height: 12px;
}

.blue-bar{
    background: url('../images/navy-blue-bar.png');
    height: 41px;
    margin-top: 50px;
}

.yellow-bar{
    background: url('../images/yellow-bar.png');
    height: 41px;
    margin-top: 15px;
}

.brookfield-tumble-tower-madness{
    background: url('../images/brookfield-tumble-tower-madness.png');
    width: 591px;
    height: 246px;
    margin: 0 auto; 
    margin-top: 50px;
}

.guess{
    width: 570px;
    margin: 0 auto;
    word-spacing: normal;
    margin-top: 30px;
}

.if-you-manage{
    margin-top: 20px;
}

.how-many{
    margin-top: 30px;
    font-size: 20px;
	margin-bottom: 30px;
}

.block-buttons{
    width: 40%;    
}


 .radio-btn {
  display:none;
  display: inline-block;
  text-align: center;
}

.btn-primary{
    background-color: #002D64;
    background-image: linear-gradient(to bottom, #002D64, #002D64);
}


.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]{
    background-color: #002D64;
    background-image: linear-gradient(to bottom, #002D64, #002D64);
}

.btn-primary:hover{
    background-color: #4e78ac;
    background-image: linear-gradient(to bottom, #002D64, #4e78ac);
}


.error{
    color: #f33131;
}

#survey{
    background: url('../images/brookfield-student-survey.png') no-repeat;
    width: 676px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 67px;
}

.servey-content{
    background: url('../images/student-survey-bg.png') repeat-y;  
    min-height: 300px;
    border-bottom: 2px solid #95979e;
    border-radius: 0 0px 5px 5px;
    padding: 25px 0;
}

.survery-titles{
    font-size: 20px;
}

.survery-question{
    padding: 20px  60px 10px 60px;
    border-bottom: 2px solid #95979e;
}

.survery-question table{
    margin-top: 20px;
}

.survery-question table td{
    padding-left: 10px;
}

#see-term-condition{
    background: #FFFFFF url('../images/student-survey-bg.png') repeat-y;
    width: 676px;
}

.see-term-condition{
    font-size: 13px;
    text-decoration: underline;
    line-height: 14px;
    cursor: pointer;
    color: #999999;
    display: block;
	margin-top: -16px;
    padding-left: 35px; 
}

.terms-submit{
    padding: 20px  60px 0px 60px; 
}

.submit-servey{
    padding: 10px  0px 0px 60px; ;
}

.survery-question .other{
    padding: 10px 0 0 0;
}

.input-age{
    width: 30px !important;
}

.contact-info{
    padding: 0 60px;
    border-bottom: 2px solid #95979e;
}

.contact-info table.name-email{
    margin-top: 20px;
}

.submit-confirm-popup{
    background: url('../images/submit-confirm-bg.png');
    width: 326px;
    height: 180px;
    color: #FFFFFF;
}

.submit-confirm-popup .thank-you{
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
}

.submit-confirm-popup .return{
    color: #c3c7d1;
    text-align: center;
    padding: 10px 30px;
    font-size: 14px;
}

div.cancel{
    text-align: center;
    background: url('../images/button.png') no-repeat;
    width: 154px;
    height: 52px;
    float: left;
    margin-left: 7px;
    padding-top: 14px;
    cursor: pointer;
}

div.cancel:hover{
    background: url('../images/button-hover.png') no-repeat;
}


div.continue{
    text-align: center;
    background: url('../images/button.png') no-repeat;
    width: 154px;
    height: 52px;
    float: left;
    margin-left: 5px;
    padding-top: 14px;
    cursor: pointer;
}

div.continue:hover{
    background: url('../images/button-hover.png') no-repeat;
}

.submit-confirm-popup .back-to-home{
    text-align: center;
    background: url('../images/button.png') no-repeat;
    width: 154px;
    height: 52px;
    float: left;
    margin-left: 83px;
    padding-top: 14px;
    cursor: pointer;
}

.submit-confirm-popup .back-to-home:hover{
    background: url('../images/button-hover.png') no-repeat;;
}

.input-graduating-year{
    width: 50px;
    margin: 0 20px 0 10px ;
}

.confirm-content{
    text-align: center;
}

.clear{
    clear: both;
}

.yes-no-button{
    text-align: center;
    padding-top: 20px;
}

.yes-no-button .no{
    background: url('../images/button-yes.png') no-repeat;
    width: 154px;
    height: 52px;
    float: left;
    font-size: 18px;
    margin-left: 200px;
    padding-top: 14px;
    cursor: pointer;
}

.yes-no-button .no:hover{
    background: url('../images/button-no.png') no-repeat;
}

.yes-no-button .yes{
    background: url('../images/button-yes.png') no-repeat;
    width: 154px;
    height: 52px;
    float: left;
    font-size: 18px;
    margin-left: 10px;
    padding-top: 14px;
    cursor: pointer;
}

.yes-no-button .yes:hover{
    background: url('../images/button-no.png') no-repeat;
}

.login{
    width: 326px;
    margin: 0 auto;
    margin-top: 80px;
    height: 180px;
    border: 0px solid white;
    border-radius: 0 0 14px 14px;
    background: url('../images/submit-confirm-bg.png');
}

.top-link{
    width: 676px;
    margin: 0 auto;
    text-align: right;
    padding-top: 10px;
    color: #e6e5e3;
}

#login-error{
    height: 41px;
    padding-top: 7px;
    color: #f0b310;
}

.login table{
    margin: 0px 0 0 25px;
    position: absolute;
}

.login table td{
    padding-left: 10px;
}

.login table input[type="text"], .login table input[type="password"]
{
    width: 150px;
}

#footer{
    background: url('../images/footer.png') repeat-x;
    height: 37px;
    font-weight: bold;
    bottom: 0px;
    width: 100%;
    position: fixed;
}

.fancybox-skin{
    background: none !important;
}

.fancybox-item{
    display: none;
}

.fancybox-opened .fancybox-skin{
    box-shadow: none !important;
}

.button{
    background: url('../image/');
}


 .radio-btn {
  width: 40px;
  height: 41px;
}
.radio-on{
    background: url(../images/radio-on.png);
}
.radio-off{
    background: url(../images/radio-off.png);
}

.radio-btn-small {
  width: 25px;
  height: 26px;
}
.radio-on-small{
    background: url(../images/radio-on-small.png);
}
.radio-off-small{
    background: url(../images/radio-off-small.png);
}
.radio-btn-small-label{
    height: 25px;
    vertical-align: top;
    padding-top: 4px; 
}
.radio-item{
    display:inline-block;
}
.radio-item label{
    display: inline-block !important;
}

.checkbox-btn-small {
  width: 25px;
  height: 26px;
}
.checkbox-on-small{
    background: url(../images/checkbox-on.png);
}
.checkbox-off-small{
    background: url(../images/checkbox-off.png);
}
.checkbox-btn-small-label{
    height: 25px;
    vertical-align: top;
    padding-top: 4px; 
}
.bigFont{
    font-size: 16px !important;
}


.form-tbl th, .form-tbl td{
    padding: 5px; 
    vertical-align:middle;
}
.form-tbl th, .form-tbl td{
    text-align: left !important;
    font-weight: normal;
    
}
.input-xlarge{
    width: 350px !important;
}

#temrs-conditions{
	font-size: 12px;
}